# Ignore everything by default
*

# Allow .gitignore
!.gitignore

# Allow repo-level README
!README.md

# Allow entire GitBook_Content folder and everything inside it
!GitBook_Content/
!GitBook_Content/**
