# ignore everything by default
*

# allow gitignore itself
!.gitignore

# allow folders we need
!GitBook_Content/
!GitBook_Content/Influencers/
!GitBook_Content/Influencers/**

# allow all markdown files under Influencers
!GitBook_Content/Influencers/**/*.md

# optional: allow top-level README
!README.md
